.container-fluid {
    margin-top: 108px;
    margin-bottom: 108px;
    border-radius: 22px;
    background: #d9d9d9;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .container-left {
    width: 50%;
    flex-direction: column;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .container-right {
    width: 50%;
    flex-direction: column;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .component1-container,
  .component2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .component2-container {
    margin-top: 100px;
  }
  
  .upload-container {
    height: auto;
    width: 70%;
    position: relative;
    text-align: center;
    background-color: white;
    border-radius: 27px;
  }
  
  .image-container {
    height: auto;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 27px;
  }
  
  .upload-container:hover .image-container {
    opacity: 0.5;
    background-color: #f6f7fa;
  }
  
  img {
    height: 100%;
    width: 100%;
    border-radius: 27px;
    object-fit: contain;
  }
  
  .select-profile-picture {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .message {
    position: absolute;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    transition: all 1s;
    opacity: 0;
    font-weight: bold;
    font-size: 1em;
  }
  
  .upload-container:hover .message {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  
  #delete-img {
    margin-top: 10px;
    width: 100px;
    background-color: #213555;
    transition: transform ease 0.6s;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  #delete-img:hover {
    background-color: #6499e9;
    transform: scale(1.1);
    transition: transform ease 0.6s;
    color: #213555;
  }
  
  #members-add:hover .message {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  
  #members-add:hover {
    opacity: 0.5;
  }
  
  #add {
    margin-left: 15px;
    width: 100px;
    height: 35px;
    background-color: #213555;
    transition: transform ease 0.6s;
    float: right;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  #add:hover {
    background-color: #6499e9;
    transform: scale(1.1);
    transition: transform ease 0.6s;
    color: black;
  }
  
  #x:hover {
    background-color: #6499e9;
    transform: scale(1.1);
    transition: transform ease 0.6s;
    color: black;
  }
  
  #select {
    margin-left: 15px;
    width: 150px;
    height: 35px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    background-color: #ebf2fd;
  }
  
  .add-email {
    margin-left: 10px;
    height: 35px;
    background-color: #ebf2fd;
    border-radius: 7px;
    border: 1px solid #b9b9b9;
  }
  
  .modal-body {
    display: flex;
    flex-direction: row;
  }
  
  .modal-header {
    position: relative;
    text-align: center;
  }
  
  .modal-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .members-list {
    width: 94.5%;
    height: 35px;
    background-color: #ebf2fd;
    border-radius: 7px;
    border: 1px solid #b9b9b9;
  }
  
  .text-danger {
    margin-top: 5px;
    margin-left: 12px;
  }
  
  .form-floating {
    width: 95%;
    min-width: 20%;
    margin-bottom: 100px;
  }
  
  #description {
    height: 100px;
  }
  
  @media (max-width: 600px) {
    .message {
      font-size: 0.7em;
      line-height: 1em;
    }
  
    .letras {
      font-size: 0.9em;
    }
  }
  
  #save {
    width: 100px;
    background-color: #213555;
    transition: transform ease 0.6s;
    text-transform: uppercase;
    font-size: 14px;
    border-color: #6499e9;
  }
  
  #save:hover {
    background-color: #6499e9;
    transform: scale(1.1);
    transition: transform ease 0.6s;
    color: #213555;
    border-color: #213555;
  }
  
  #delete-house {
    margin-top: 10px;
    width: 100px;
    background-color: rgb(241, 56, 56);
    transition: transform ease 0.6s;
    text-transform: uppercase;
    font-size: 14px;
    border-color: white;
  }
  
  #delete-house:hover {
    background-color: white;
    transform: scale(1.1);
    transition: transform ease 0.6s;
    color: rgb(241, 56, 56);
    border-color: rgb(241, 56, 56);
  }
  
  .botones {
    width: 100%;
    height: 100%;
    align-items: center;
    display: contents;
  }
  