<div class="container-fluid">
    <div class="container-left">
      <div class="component1-container">
        <div class="upload-container">
          <label class="hoverable" for="fileInput">
            <div class="image-container">
              <img [src]="url ? url : 'assets/img/photo_camera.png'" />
            </div>
            <div class="background"></div>
          </label>
          <input
          id="fileInput"
          type="file"
          [(ngModel)]="url"
          class="select-profile-picture"
          (change)="onSelectFile($event)"
          accept="image/*"
          />
          <span class="message">Haz click aquí para seleccionar una imagen</span>
        </div>
        <button id="delete-img" class="btn btn-primary" *ngIf="url" (click)="delete()">eliminar</button>
      </div>
    </div>
    <div class="container-right">
      <div class="form-floating">
        <input type="text" class="form-control" placeholder="House Name" id="house-name">
        <label class="letras" for="floatingInput">Nombre de la casa</label>
      </div>
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="description"></textarea>
        <label class="letras" for="floatingTextarea">Descripción</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" placeholder="Address" id="direction">
        <label class="letras" for="floatingInput">Dirección</label>
      </div>
      <div class="botones">
        <button id="save" type="button" class="btn btn-primary" (click)="validateFields()">Guardar</button>
        <button id="delete-house" type="button" class="btn btn-primary" (click)="validateFields()">Eliminar</button>
      </div>
  </div>
</div>
    
