<div class="container-fluid" *ngIf="(user === 'user')" [formGroup]="form">
  <h1 class="title">Crear tarea</h1>
  <div class="container" *ngIf="houseResponse">
    <div class="container-left">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          placeholder="Task Name"
          id="task-name"
          formControlName="name"
        />
        <label class="letras" for="floatingInput">Nombre de la tarea</label>
        <div
          *ngIf="form.get('name')?.touched && form.get('name')?.invalid"
          class="text-danger"
        >
          <div *ngIf="form.get('name')?.errors?.['required']">
            Este es un campo obligatorio.
          </div>
        </div>
      </div>
      <div class="form-floating">
        <select class="form-select" formControlName="assignedTo">
          <option value="" disabled>Selecciona un miembro de la casa</option>
          <option
            *ngFor="let houseMember of houseMembersResponse?.houseMembers"
            [value]="houseMember.id"
          >
            {{ houseMember.name }}
          </option>
        </select>
        <label class="letras" for="assignedTo">Asignar a</label>
        <div
        *ngIf="
          form.get('assignedTo')?.touched && form.get('assignedTo')?.invalid
        "
        class="text-danger"
      >
        <div *ngIf="form.get('assignedTo')?.errors?.['required']">
          Este es un campo obligatorio.
        </div>
      </div>
      </div>
      <div class="form-floating">
        <select class="form-select" formControlName="category">
          <option value="" disabled>Selecciona una categoría</option>
          <option *ngFor="let category of categories" [value]="category.value">
            {{ category.label }}
          </option>
        </select>
        <label class="letras" for="category">Categoría</label>
        <div
          *ngIf="form.get('category')?.touched && form.get('category')?.invalid"
          class="text-danger"
        >
          <div *ngIf="form.get('category')?.errors?.['required']">
            Este es un campo obligatorio.
          </div>
        </div>
      </div>
      <div class="form-floating mb-3">
        <input
          type="date"
          class="form-control"
          id="finishDate"
          placeholder="05/06/2023"
          formControlName="deadlineDate"
          min="{{ getMinDate() }}"
        />
        <label for="deadlineDate">Fecha de realización</label>
        <div
          *ngIf="
            form.get('deadlineDate')?.touched && form.get('deadlineDate')?.invalid
          "
          class="text-danger"
        >
          <div *ngIf="form.get('deadlineDate')?.errors?.['required']">
            Este es un campo obligatorio.
          </div>
        </div>
      </div>
    </div>
    <div class="container-right">
      <div class="form-floating">
        <textarea
          class="form-control"
          placeholder="Leave a comment here"
          id="description"
          formControlName="description"
        ></textarea>
        <label class="letras" for="floatingTextarea">Descripción</label>
        <div
        *ngIf="
          form.get('description')?.touched && form.get('description')?.invalid
        "
        class="text-danger"
      >
        <div *ngIf="form.get('description')?.errors?.['required']">
          Este es un campo obligatorio.
        </div>
      </div>
      </div>
      <div class="botones">
        <button
          id="create"
          type="button"
          class="btn btn-primary"
          (click)="submitForm()"
        >
          Crear
        </button>
      </div>
    </div>
  </div>
</div>
