<div class="container-fluid">
    <h1 class="title">piso de madrid</h1>
    <div><button type="button" class="btn btn-primary" [routerLink]="['add-task']">Añadir tarea +</button></div>
    <div class="container">
        <div class="container-left">
            <div class="card" id="edit"> 
                <div class="image-picture">
                    <img src="/assets/img/prueba.jpeg" class="img-fluid" alt="Imagen">
                </div>
                <div class="card-elements">
                    <div class="house-description">
                        <p>descripción</p>
                    </div>
                    <div class="house-address">
                        <p>dirección</p>  
                    </div>
                </div>
            </div>
            <div class="card" id="members"> 
                <div>
                    <img src="/assets/img/kitchen.png" class="img-fluid" alt="Imagen">
                </div>
                <div class="card-members">
                    <div class="house-member">
                        <p>miembro 1</p>
                    </div>
                    <div class="house-member">
                        <p>miembro 2</p>  
                    </div> 
                </div>
            </div>
        </div>
        <div class="container-right">
            <div class="card" id="category"> 
                <div>
                    <img src="/assets/img/kitchen.png" class="icon" alt="Imagen">
                </div>
                <div class="card-category">
                    <div class="house-category">
                        <p>cocina</p>
                    </div>
                    <div class="house-active-tasks">
                        <span> tareas activas</span>  
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
