<div class="container-fluid">
    <h1 class="title">piso de madrid</h1>
    <div><button type="button" class="btn btn-primary" [routerLink]="['add-task']">Añadir tarea +</button></div>
    <div class="container">
        <div class="container-left">
            <div class="card" id="edit"> 
                <div>
                    <img src="/assets/img/kitchen.png" class="img-fluid" alt="Imagen">
                </div>
                <div class="card-elements">
                    <div class="card-description">
                        <p class="card-title house-description">cocina</p>
                    </div>
                    <div class="card-tasks">
                        <p class="card-text house-member"> tareas activas</p>  
                    </div>
                </div>
            </div>
            <div class="card" id="members"> 
                <div>
                    <img src="/assets/img/kitchen.png" class="img-fluid" alt="Imagen">
                </div>
                <div class="card-body">
                    <h5 class="card-title house-name">cocina</h5>
                    <p class="card-text house-member"> tareas activas</p>  
                </div>
            </div>
        </div>
        <div class="container-right">
            <div class="card" id="category"> 
                <div>
                    <img src="/assets/img/kitchen.png" class="img-fluid" alt="Imagen">
                </div>
                <div class="card-body">
                    <h5 class="card-title house-name">cocina</h5>
                    <p class="card-text house-member"> tareas activas</p>  
                </div>
            </div>
        </div>
    </div>
  </div>
  
