<div class="container-fluid">
    <h1 class="title">piso de madrid</h1>
    <div><button type="button" class="btn btn-primary" [routerLink]="['add-task']">Añadir tarea +</button></div>
    <div class="container">
        <div class="container-left">
            <div class="card" id="edit" *ngIf="houseResponse"> 
                <div class="image-picture">
                    <img [src]="houseResponse.profilePicture" class="img-fluid" alt="Imagen">
                </div>
                <div class="card-elements">
                    <div class="house-description">
                        <p>{{houseResponse.description}}</p>
                    </div>
                    <div class="house-address">
                        <p>{{houseResponse.address}}</p>  
                    </div>
                </div>
            </div>
            <div class="card" id="members" *ngIf="houseMembersResponse"> 
                <div class="card-members" *ngFor="let houseMember of houseMembersResponse.houseMembers">
                    <img [src]="houseMember.profileImage" class="img-perfil" alt="Imagen">
                    <div class="house-member">
                        <p>{{houseMember.name}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-right" *ngIf="activeTasksResponse && houseResponse">
            <div class="card" id="category" *ngFor="let activeTask of activeTasksResponse.tasks" [routerLink]="['/tasks', 'house',houseResponse.id , 'category',activeTask.categoryId]"> 
                <div>
                    <img [src]="activeTask.icon" class="icon" alt="Imagen">
                </div>
                <div class="card-category">
                    <div class="house-category">
                        <p>{{activeTask.categoryId}}</p>
                    </div>
                    <div class="house-active-tasks">
                        <span>{{activeTask.totalActiveTasks}} tareas activas</span>  
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
