.container-fluid {
    margin-top: 108px;
    margin-bottom: 108px;
    padding: 90px;
    border-radius: 22px;
    background: #d9d9d9;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
  }

  .title {
    padding-bottom: 40px;
    color: #213555;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-align: center;
  }

.accordion {
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.data-container {
    padding-left: 20px;
    max-width: 100%;
}

.name {
    font-size: 1.5vw;
    color: #213555;
    font-weight: 500;
}

.assignedTo-name {
    font-size: 1vw;
    color: rgba(0, 0, 0, 0.54);
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 5px;
}

.date {
    font-size: 14px;
    color: rgba(33, 53, 85, 0.80);
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.28px;
}

.accordion-body {
    display: flex;
    flex-direction: row;
}

.accordion-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.accordion-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.assignedBy {
    margin-bottom: 10px;
}

strong {
    text-transform: lowercase;
}

.description {
    border-radius: 10px;
    background: #f6f7fa;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.state {
    padding-right: 20%;
    font-size: 14px;
    color: rgba(33, 53, 85, 0.80);
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.28px;
}

.btn {
    background-color: #213555;
    transition: transform ease 0.6s;
    float: right;
    padding: 10%;
  }
  
  .btn:hover {
    background-color: #6499e9;
    transform: scale(1.1);
    transition: transform ease 0.6s;
    color: black;
  }