<div class="container-fluid">
    <div><button type="button" class="btn btn-primary" [routerLink]="['auth/login']">Iniciar sesión</button></div>
    <div class="card">
        <h1 class="title">Welcome to HomeWorks!!</h1>
        <p>
            Bienvenidos a HoameWorks, nuestra misión es ayudarte a organizar tu vida
             de una manera rapida y sencilla para conciliar mejor el caos que al que 
             día a día estamos expuestos.
        </p>
    </div>
    <div class="card">
        <h2 class="title">¿Cómo funcionamos?</h2>
        <p>
            HomeWorks es una aplicación de gestión de tareas del hogar, 
            en la que puedas organizar las tareas de tu hogar en un entorno virtual.
            HomeWorks te permite crer un grupo o casa en el añadir a los participantes
            de tu núcleo familiar y adjuntarles tareas, creadas por ti o por los demas
            administradores del grupo.
        </p>
    </div>
</div>
